@import url('../../assets/styles/fonts.scss');

.formUserLogin {
    max-width: 400px;
    text-align: center;

    &__title {
        margin-top: 17px;
        margin-bottom: 40px;
        font-family: 'FuturaPT';
        font-weight: 700;
        font-size: 46px;
        line-height: 49px;
        color: #F0F0F0;
    }

    &__submit {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px auto 0;
        width: 97px;
        height: 56px;
        background-color: #ED5365;
        color: #fff;
        border-radius: 88px;
        transition: background-color .2s ease;
        cursor: pointer;

        &:hover {
            background-color: #8243F0;
        }
    }
}