.sectionYourFurniActivity {
    &__title {
        margin-top: 17px;
        font-family: 'FuturaPT';
        font-weight: 700;
        font-size: 46px;
        line-height: 49px;
        color: #F0F0F0;
    }
}