.sectionYourFurniActivity {

    &__title {
        margin-top: 17px;
        font-family: 'FuturaPT';
        font-weight: 700;
        font-size: 46px;
        line-height: 49px;
        color: #F0F0F0;
    }

    &__content {
        margin-top: 30px;
    }

    &__subTitle {
        max-width: 595px;
        font-family: 'FuturaPT';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #E0E0E0;
    }
}

.center {
    text-align: center;
}