.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 56px;
    background-color: #262830;

    &__logOut {
        font-family: 'FuturaPT';
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        cursor: pointer;
    }
}

.borderForCode {
    border: 2px dashed #A4A4A9;
}

.bgColorArrow {
    background-color: #A4A4A9;
}

.marginTop {
    margin-top: 0 !important;
}

.sizeCode {
    font-size: 12px;
    line-height: 126%;
    letter-spacing: 0.08em;
    color: #E0E0E0;
}

.alignItems {
    align-items: start;
}