.FilterContactsList {
    padding: 8px 20px;
    position: absolute;
    z-index: 1;
    top: 52px;
    left: 0;
    right: 0;
    background-color: #323540;
    border: 2px solid #444755;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.64);
    border-radius: 16px;
}

.FilterContactsList.hide {
    z-index: -5;
    opacity: 0;
}